.navbar {
  position: fixed;
  z-index: 2;
  width: 100%;
	background-color: rgba(0, 0, 0, 0.66);
  border-bottom: 1px solid white;
  color: white;
  padding: 15px 10px;
  font-size: 20px;
  text-transform: uppercase;
  display: flex;
  align-items: flex-start;
  justify-content: space-between;
}
.navbar > .title {
  display: flex;
  align-items: flex-start;
}
.navbar > .title > img {
  height: 30px;
  margin: 0 10px;
}

.navbar > .actions {
  display: flex;
  font-weight: 600;
  font-size: 15px;
}
.navbar > .actions .action {
  margin: 0 10px;
}

/* .navbar > .title {
  text-align: center;
  display: inline-block;
  font-size: 20px;
  font-weight: 600;
  vertical-align: top;
}


.navbar > .title > span {
  margin-left: 5px;
  vertical-align: top;
}

.navbar > .phone {
  position: relative;
  width: 30%;
  text-align: center;
  display: inline-block;
  font-weight: 600;
  vertical-align: top;
  text-transform: lowercase;
}


.navbar > .actions > .action {
  margin: 0 3%;
  width: 15%;
}

.navbar > .hamburger {
  width: 8.5%;
  text-align: center;
  display: inline-block;
  font-weight: 600;
  font-size: 30px;
  color: white;
  cursor: pointer;
} */

#header .actions .button {
  font-size: 1.2em;
}

#header {
  padding: 5em 0 9em 0 ;
  color: rgba(255, 255, 255, 0.75);
  background-attachment: fixed;
  background-image: url("images/dental_bkg.jpeg");
  background-position: top left;
  background-size: cover;
  overflow: hidden;
  position: relative;
  text-align: center;
  font-family: "Source Sans Pro", sans-serif;
}

#header > .inner > .header-title h1,.header-title-mission{
	width: 60%;
	margin-left: 20%;
	background-color: rgba(0, 0, 0, 0.30);
	padding: 15px;
  border-radius: 10px;
  margin-bottom: 2rem;
}
#header > .inner > .header-title h1,.header-title-mission h2 {
  font-weight: 600;
  text-transform: uppercase;
  letter-spacing: 2px;
  font-size: 1.5rem;
}



#header > .inner > .header-logo {
	width: 60%;
	margin-left: 20%;
	background-image: url("images/logo.png");
	padding: 15px;
}

#header > .inner  {
  text-align: center;

}

img.icon {
  text-decoration: none;
  color: #555;
  cursor: default;
  display: inline-block;
  margin: 0 0 1.5em 0;
  width: 100%;
}

.header-icon-container {
  width: 10%;
  margin-left: 45%;
}

#header input[type="submit"], #header input[type="reset"], #header input[type="button"], #header button, #header .button {
  background-color: rgba(38, 162, 220, 0.80);
}

.main {
  padding: 5em 0 4em 0
}
.info-icon-container {
  margin-bottom: 2em;
}

.info-icons {
  display: inline-table;
  width: 19%;
  text-align: center;
  height: 6em;
}

.info-icons-container > span {
  font-size: 2em;
}

.info-icons-container {
  height: 4em;
  width: 4em;
  padding: 1em;
  margin-left: calc(50% - 2em);
  border-radius: 50%;
  border: 1px solid black;
  text-align: center;
}

.info-icons-text {
  margin-top: 2em;
  width: 70%;
  margin-left: 15%;
}

.meet-ortho-container .major {
  text-align: center;
}


.main.style1 .info-icons-container {
  border: 3px solid rgba(38, 162, 220, 0.80);
  color: rgba(38, 162, 220, 0.80);
}
.main.style3 {
  background-attachment: fixed;
  background-image: url("images/overlay3.svg");
  background-size: cover;
  background-color: rgba(0, 0, 0, 0.90);
  color: white;
}
.main.style3 .major > h2{
  color: white;
}
.main.style3 .button{
  background-color: rgba(38, 162, 220, 0.80);
  text-align: center;
  box-shadow: inset 0 0 0 1px #ffffff;
  color: #ffffff !important;
}

.main.style2 {
  background-attachment: fixed;
  background-image: url("images/overlay3.svg");
  background-size: cover;
  background-color: rgba(0, 94, 220, 0.90);
}
.main.style2 .major > h2 {
  font-size: 3em;
}

.main.style4 {
  background-attachment: fixed;
  background-image: url("images/overlay3.svg");
  background-size: cover;
  background-color: rgba(0, 94, 220, 0.90);
  color: white;
}
.main.style4 .major > h2 {
  font-size: 1.2em;
  color: white;
}
header.major:after {
  background: rgba(255, 255, 255, 1);
}

.logo-body {
  width: 100%;
}

.found-container {
  display: flex;
  justify-content: center;
  align-items: flex-start;
}

.found-container .info {
  width: 30%;
}


.found-container .button {
  background-color: rgba(38, 162, 220, 0.80);
  text-align: center;
}

#footer {
  padding: 2em 0;
  background-color: #efefef;
  color: black;
  background-image: none;
  font-size: 16px;
}

img.map {
  width: 100%;
}

.divisions-container{
  display: flex;
  justify-content: center;
}
.divisions-container .divisions {
  -moz-appearance: none;
  -webkit-appearance: none;
  -ms-appearance: none;
  appearance: none;
  -moz-transition: background-color 0.2s ease-in-out, color 0.2s ease-in-out;
  -webkit-transition: background-color 0.2s ease-in-out, color 0.2s ease-in-out;
  -ms-transition: background-color 0.2s ease-in-out, color 0.2s ease-in-out;
  transition: background-color 0.2s ease-in-out, color 0.2s ease-in-out;
  background-color: rgba(38, 162, 220, 0.80);
  border-radius: 4px;
  border: 0;
  box-shadow: inset 0 0 0 1px #ffffff;
  color: #ffffff;
  cursor: pointer;
  display: inline-block;
  height: 2.75rem;
  letter-spacing: 0.2rem;
  line-height: 2.75rem;
  outline: 0;
  padding: 0 1.25rem 0 1.35rem;
  text-align: center;
  text-decoration: none;
  white-space: nowrap;
  margin: 10px;
}

.introPhoto {
  display: block;
  border-radius: 4px;
  border: 0;
  display: flex;
  justify-content: center;
}

.introPhoto img{
  border-radius: 4px;
  max-width: 300px;
}

.main-meet-doctors{
  display:flex;
  justify-content: center;
  flex-wrap: wrap;
}

.meet-ortho-container {
  display: flex;
  justify-content: center;
  align-items: center;
  padding: 2rem;
  max-width: 1000px;
}

.meet-ortho-container .description {
  padding: 0 5%;
}

header.major h2, header.major h4 {
  font-weight: 600;
}


/*  dropdown menu tests*/

.dropbtn {
    background-color: #3498DB;
    color: white;
    padding: 16px;
    font-size: 16px;
    border: none;
    cursor: pointer;
}

.dropbtn:hover, .dropbtn:focus {
    background-color: #2980B9;
}

.dropdown {
    position: relative;
    display: inline-block;
}

.dropdown-content {
    display: none;
    position: absolute;
    background-color: #f1f1f1;
    min-width: 160px;
    overflow: auto;
    box-shadow: 0px 8px 16px 0px rgba(0,0,0,0.2);
    z-index: 1;
}

.dropdown-content a {
    color: black;
    padding: 12px 16px;
    text-decoration: none;
    display: block;
}

.dropdown a:hover {background-color: #ddd}

.show {display:block;}
